##### Container Configuration #####
##### Timing #####
modbus_polling_Interval=10

##### Modbus #####
modbus_address=
modbus_port=502
modbus_register=1
modbus_register_type=2
modbus_desired_bit=0
modbus_data_type=5

##### MQTT #####
mosquitto_address=postman.cloudmqtt.com
mosquitto_port=11110
mosquitto_user=INSYS
mosquitto_password=imon
mosquitto_topic=/MBR